
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: #05050c;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #09091a;
}

nav h1 {
    color: #00bfff;
    font-size: 28px;
}

nav span {
    color: #6a00ff;
}

nav a {
    color: white;
    text-decoration: none;
    background: #6a00ff;
    padding: 8px 20px;
    border-radius: 20px;
}

/* BANNER */
.banner {
    height: 450px;
    background: linear-gradient(90deg,#05050c,#0f1030);
    display: flex;
    align-items: center;
    padding: 50px;
}

.banner-text h2 {
    font-size: 48px;
}

.banner-text h3 {
    font-size: 42px;
    color: #00bfff;
}

.banner-text p {
    margin: 15px 0;
    color: #ccc;
}

.banner-text a {
    display: inline-block;
    margin-top: 15px;
    background: linear-gradient(45deg,#6a00ff,#00bfff);
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* BENEFICIOS */
.beneficios {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    background: #09091a;
}

.beneficio {
    background: #111122;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #6a00ff;
}

/* PRODUTOS */
.produtos {
    padding: 60px 40px;
    text-align: center;
}

.produtos h2 {
    margin-bottom: 40px;
    color: #00bfff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: #111122;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #6a00ff;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0;
}

.card a {
    display: inline-block;
    background: #00bfff;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #09091a;
    padding: 20px;
    text-align: center;
    color: #aaa;
}
