body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #020617;
    text-align: center;
    padding: 20px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #020617;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.card a {
    display: block;
    background: #22c55e;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.card a:hover {
    background: #16a34a;
}
